<h2><%=current_student.username%>'s Messages</h2>
<h3>Sent:</h3>
<ul>
<%@sent_messages.each do |mess| %>
    <%@recipient = Student.find_by(id: mess.recipient)%>
    <li>
    To:        
    <%=@recipient.username%><br>
    <a href='/messages/<%=mess.id%>'><%=mess.message%></a>
    </li>
<%end%>
</ul>
<br><br>

<h3>Recieved:</h3>

<ul>
<%@recieved_messages.each do |mess| %>
    <% @sender = Student.find_by(id: mess.student_id) %>
    <li>
    <%if !@sender.nil?%>
    From        
    <%=@sender.username%>:<br>
    <%else%>
    Sender Unknown:
    <%end%>
    <a href='/messages/<%=mess.id%>'><%=mess.message%></a>
    </li>
<%end%>
<br><br>
</ul>
<a class='nav' href='/assignments'>Home</a><br>
<a class='nav' href='/logout'>Log out</a>

