<header class='second'>
<ul class='navbar'>
<li><a class='nav' href='/assignments'>Home</a></li>
<li><a class='nav' href='/messages'>Messages</a></li>
<li><a class='nav' href='/studentclasses'>Class Rosters</a></li>
<li><a class='nav' href='/logout'>Log out</a></li>
</ul>
</header>
<% if current_student.id == @message.recipient && !@sender.nil?%> 
    <h2>Message from <%=@sender.username%></h2>
    <h3><a href='/messages/<%=@sender.id%>/new'>Reply</a></h3>
<% elsif current_student.id == @message.recipient && @sender.nil?%>
    <h2>Message from Unknown</h2>
<%else%>
    <h2>Message to <%=@recipient.username%></h2>
<%end%>
<p><%=@message.message%></p>
<form action = '/messages/<%=@message.id%>/delete' method = 'POST'>
    <input id ="hidden" type ="hidden" name='_method' value='delete'>
    <input type='submit' value='Delete'>
</form>

