<h2><%= @assignment.name%></h2>
<ul>
    <li>Class: <a href= "/studentclasses/<%=@student_class.id%>"><%=@assignment.class_name%></li></a>
    <li>Due Date: <%=@assignment.due_date%></li>
</ul>
<form action = '/assignments/<%=@assignment.id%>/delete' method = 'POST'>
    <input id ="hidden" type ="hidden" name='_method' value='delete'>
    <input type='submit' value='Delete'>
</form>
<a class='nav' href="/assignments/<%=@assignment.id%>/edit">Edit</a><br>
<a class='nav' href='/assignments'>All Assignments</a><br>
<a class='nav' href='/logout'>Log out</a>

    